body {

background: #fafafa;

}


.header {
    background: #ffff;
    height: 77px;
    -webkit-box-shadow: 1px 12px 21px -2px rgba(192,192,192,0.81);
    box-shadow: 1px 12px 21px -2px rgba(192,192,192,0.81);

}

.material-icons {
    margin-right: 25px;
}


.container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
    margin-top: 50px
}

.col-md-auto {
    width:400px;
    }


.logo {
    height: 48px;
    margin-left:100px;
    margin-top: 10px;
}




.col-8 {
    -webkit-box-shadow: 1px 12px 21px -2px rgba(192,192,192,0.81);
    box-shadow: 1px 12px 21px -2px rgba(192,192,192,0.81);
    background:white;
    width: 1014px;
    height: auto;                                                              /*buvo 800px */
    padding-right: 0px;


}

.search {
margin-top:22px;
margin-left: 55px;
background: none;
}


.feed-pic {
    width: 566px;
    height: 707px;
    text-align:center;
}


.feed {

}

/* nuo cia mano css bus */
.singlePost {
  border-bottom: 2px solid lightgrey;
}
.postHeader {
  color: red;
  margin-top: 30px;
  margin-bottom: 10px;
}
.postCreator {
  padding-right: 20px;
}
.postImage {

}
.likesAndComments {
  padding-right: 20px;
}
.postInfo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.postNewestComment {
  padding-bottom: 20px;
}
