*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
}

img {
    display: block;
}

.container {

    max-width: 73.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.profile {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
}

.profile-photo {
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    border-radius: 50%;
    height: 152px;
}

.user-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    align-items: center;
}

.profile-user-name {
    display: inline-block;
}

ul {
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(3rem, 6rem));
}

.profile-stats-count {
    display: inline-block;
    margin: 0 .5rem;
}

/* Gallery Section */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 30vw));
    grid-template-rows: repeat(5, 30vw);
    grid-gap: .8rem; 
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


.gallery-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}





/* .container {
    display: grid;
    grid-template-rows: 7% 30% 1fr 7%;
    grid-template-columns: [sidebar-start] minmax(0px, 1.5fr) [sidebar-end photo-start] 
    repeat(3, [col-start] 2fr [col-end]) 
    [photo-end side-start] minmax(0px, 1.5fr) [side-end];
    
}

header {
    grid-column: 1 / -1 
}

.side-one {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / 5;
}


.user-info {
    grid-column: sidebar-end / side-start; 

    display: grid;

}

.side-two {
    grid-column: side-start / side-end;
    grid-row: 2 / -1;
}

.photo-container {
   grid-column: sidebar-end / side-start;

   display: grid;
   grid-template-columns: [photo-start] repeat(3, [col-start] minmax(auto, 300px) [col-end]) 
    [photo-end];
    grid-template-rows: repeat(3, [row-start] minmax(100px, 300px) [row-end]);
   grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.photo-container__item-1 {
    grid-column: photo-start / col-end 1;
    
}

.photo-container__item-2 {
    grid-column: col-end 1 / col-end 2;
    
}

.photo-container__item-3 {
    grid-column: col-end 2 / col-end 3;
}

footer {
    grid-column: sidebar-end / side-start; 
} */
